/* Estilização em alto contraste do portfolio */

body.high-contrast {
    background-color: #ffffff; 
    color: black;
}

body.high-contrast header ul li a {
    color: #6e4366;
    text-decoration: none;
}

body.high-contrast header ul li a:hover {
    color: #d879c6;
    border-bottom: 1.4px solid #d879c6
}

body.high-contrast .btn-contraste button {
    background-color: #33192e;
    color: #fff;
}

body.high-contrast header .btn-contraste button {
    background-color: #764e6f;
    color: #ffffff;
}

body.high-contrast header .btn-contraste button:hover {
    background-color: #33192e;
    color: #ffffff;
}

body.high-contrast .banner span {
    color: rgb(0, 0, 0);
}

body.high-contrast .banner span h1 {
    color: #6c4245;
    text-shadow: rgb(0, 0, 0) 0.06em 0.06em 0.07em;
}

body.high-contrast h2 {
    color: black;
    text-shadow: 
               4px 4px 4px #66355D, 
               2px 2px 2px #a16c97,                    
                2px 4px 2px #a24d52,                  
                2px 2px 2px #9b6992;
}

body.high-contrast h3 {
    color: #66355D;
    border-bottom: 2px solid #66355D;
}

body.high-contrast .card {
    background-color: #2a1326;
    border: 2px solid #0f010c;
    color: #fff;
}

body.high-contrast .proj {
    border: 6px solid #4a3446;
}

body.high-contrast .conts {
    background-color: #4f374a;
}

body.high-contrast .rodape {
    background-color: #0f010c;
    color: #fff;
}